#wrapper{
  height: 90vh;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#restart-button{
  margin: 30px;
}

#board{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);

  height: 300px;
  width: 300px;
}

.board-cell{
  border: thin solid black;
  border-top: none;
  border-right: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
